---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">
<section id="intro" class="md:grid md:grid-cols-2 pt-24 lg:pt-14 md:gap-14 md:mx-4">
	<img src="public/img/nikkormat-ft2-remiseparken-2.jpg" alt="">
	<div class="">
		<h1 class=" font-serif antialiased text-3xl lg:text-4xl mt-6 md:mt-0 text-yellow-900">Københavnerbilleder - en guide til hipster foto</h1>
		<h3 class=" mt-4 mb-4 font-serif text-yellow-900 ">af Sten Simons</h3>
		
		<Button variant="secondary" size="medium" >Køb nu</Button>
	</div>
</section>
<section class="md:grid md:grid-cols-2 md:gap-6 md:mx-4 my-8">
	<div>
<p class="text-yellow-900 my-8 text-lg" >Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!	 </p>
	</div>
	<div class="grid grid-cols-2 gap-6 md:my-8 mb-6">
<ul>
	<li class="text-yellow-900 font-bold">Titel:</li>
	<li class="text-yellow-900">Københavnerbilleder - en guide til hipster foto</li>
	<li class="text-yellow-900 font-bold">Forfatter:</li>
	<li class="text-yellow-900">Sten Simons</li>
	<li class="text-yellow-900 font-bold">Antal sider: </li>
	<li class="text-yellow-900">344</li>
</ul>
<ul>
	<li class="text-yellow-900 font-bold">Forlag:</li>
	<li class="text-yellow-900">Mellem Linjerne</li>
	<li class="text-yellow-900 font-bold">ISBN:</li>
	<li class="text-yellow-900">987-6-987654-32-1</li>
	<li class="text-yellow-900 font-bold">Pris:</li>
	<li class="text-yellow-900"> 399.-</li>
</ul>
</div>
</section>

<section class="color-change-2x p-8" >
<div class="grid md:grid-cols-3 gap-8">
<img src="public/img/kobenhavnerbilleder_oppefra.jpg" alt="">
<img src="public/img/kobenhavnerbilleder_aaben_venstre.jpg" alt="">
<img src="public/img/kobenhavnerbilleder-sten-simons.jpg" alt="">
</div>
</section>

<section id="indhold" class="md:mx-4 mb-32">

	<h2  class=" font-serif antialiased text-3xl lg:text-4xl mt-20 mb-10  text-yellow-900" >Bogens kapitler</h2>
	<div class="md:grid md:grid-cols-2 gap-10">
	<div>
<h3 class="text-yellow-900 font-bold my-4">Kapitel 1 - Intro til street foto</h3>
<p class="text-yellow-900">Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry). I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer. Alt krydret med en masse gode eksempler på street fotos.</p>
	<h3 class="text-yellow-900 font-bold my-4">Kapitel 2 - Om at skyde street</h3>
<p class="text-yellow-900">Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det! I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel, er der mange gode tekniske tips og tricks til street-skyderiet.</p>
<h3 class="text-yellow-900 font-bold my-4">Kapitel 3 - Om at finde det rette motiv</h3>
<p class="text-yellow-900">Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver. Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver.
</p>
<h3 class="text-yellow-900 font-bold my-4">Kapitel 4 - Digital street foto</h3>
<p class="text-yellow-900">De fleste af os skyder oftest digitalt fordi det er billigere og nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto. I dette kapitel får du en række tips og tricks til digital street-foto. </p>
</div>
	<div class="mb-10">
<h3 class="text-yellow-900 font-bold my-4">Kapitel 5 - Analog street foto</h3>
<p class="text-yellow-900">Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto. I dette kapitel får du en række tips og tricks til analog street-foto. </p>
<h3 class="text-yellow-900 font-bold my-4">Kapitel 6 - Om at skyde sort/hvid</h3>
<p class="text-yellow-900">Alle street-fotografer skyder sort/hvid nu og da. Nogen altid. Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering? Her får du en række tips og tricks til sort/hvid fotografering. </p>
<h3 class="text-yellow-900 font-bold my-4">Kapitel 7 - Kreative teknikker </h3>
<p class="text-yellow-900" >Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre, spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker!</p>
<h3 class="text-yellow-900 font-bold my-4">Kapitel 8 - Kom helt tæt på!</h3>
<p class="text-yellow-900">Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…</p>
	</div>
	</div>
	
	<Button variant="secondary" size="medium">Download prøve kapitel</Button>


</section>

<section class="md:mx-4 mb-20">

<h2  class="text-center font-serif antialiased text-3xl lg:text-4xl mt-6 md:mt-0 text-yellow-900 mb-8" >Anmeldelser af bogen</h2>
<div class="md:grid md:grid-cols-3 gap-8">

<div class="text-center mb-14">
<h3 class=" text-yellow-900 font-bold my-4">5 af 6 stjerner</h3>
<p class="text-yellow-900">Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen.</p>
<p class="text-yellow-900 my-4">Hanne Hovgaard, Berlingeren </p>
</div>

<div class="text-center mb-14">
<h3 class="text-yellow-900 font-bold my-4">4 af 5 stjerner</h3>
<p class="text-yellow-900">Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man sige om en fotobog?</p>
<p class="text-yellow-900 my-4">Kim Kloggaard, Fotojournalen.dk</p>
</div>

<div class="text-center mb-14">

<h3 class="text-yellow-900 font-bold my-4">6 af 6 stjerner</h3>
<p class="text-yellow-900">Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde.</p>
<p class="text-yellow-900 my-4">Volmer Hansen, Lukkertiden.dk </p>
</div>
</div>


</section>
<article class="columns-1 md:columns-2 md:gap-2 lg:columns-4 md:mx-4 ">
			
			<img src="public/img/0008.jpg" alt="">
			<img src="public/img/agfa-genanvendeligt-kamera-35mm-5.jpg" alt="">
			<img src="public/img/agfa-genanvendeligt-kamera-35mm-8.jpg" alt="">
			
			<img src="public/img/amarminoen-med-et-agfa-le-box-12.jpg" alt="">
	
			<img src="public/img/_6090022.jpeg" alt="">
			<img src="public/img/lomo-smena-15.jpg" alt="">
			<img src="public/img/agfa-genanvendeligt-kamera-35mm-11.jpg" alt="">
			<img src="public/img/agfa-genanvendeligt-kamera-35mm-film-2-5.jpg" alt="">
			<img src="public/img/amarminoen-med-et-agfa-le-box-3.jpg" alt="">
			
			<img src="public/img/_6090016.jpeg" alt="">
			<img src="public/img/amarminoen-med-et-agfa-le-box-11.jpg" alt="">
			<img src="public/img/anamorfiske-landskaber-amager-faelled-4.jpg" alt="">
			
			<img src="public/img/agfa-genanvendeligt-kamera-35mm-film-2-7.jpg" alt="">
			
			<img src="public/img/foraar-med-et-agfa-lebox-2-20.jpg" alt="">
			<img src="public/img/kbh-by-night-3.jpg" alt="">
			
			<img src="public/img/foraar-med-et-agfa-le-box-2021-17.jpg" alt="">
			<img src="public/img/lomo-smena-17.jpg" alt="">
			<img src="public/img/lomo-smena-20.jpg" alt="">
			
			<img src="public/img/nikkormat-ft2-orestad-c-6.jpg" alt="">
			<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-8.jpg" alt="">
			<img src="public/img/nikkormat-ft2-remiseparken-7.jpg" alt="">
			
				<img src="public/img/nikkormat-ft2-remiseparken-2.jpg" alt="">
		<img src="public/img/vinter-2021-med-lomo-smena-17.jpg" alt="">
				<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-12.jpg" alt="">
			<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-14.jpg" alt="">
			

			<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-17.jpg" alt="">
			<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-24.jpg" alt="">
			<img src="public/img/orestad-til-islands-brygge-pentax-auto-110.jpg" alt="">
			
			<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-16.jpg" alt="">
			<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-19.jpg" alt="">
			<img src="public/img/pinhole-objektiver-ved-eghjorten-3.jpg" alt="">
			
			<img src="public/img/tyk-taage-i-orestad.jpg" alt="">
			<img src="public/img/vinter-2021-med-lomo-smena-6.jpg" alt="">
			
	
		</article>

<section class="md:mx-4 mt-36" id="forfatten">

<div class="md:grid md:grid-cols-2">
	<img class="md:px-8" src="public/img/sten_simons.jpg" alt="">
	<div>
<h2 class=" mb-10 font-serif antialiased text-3xl lg:text-4xl mt-6 md:mt-0 text-yellow-900">Forfatteren</h2>
	<p class="text-yellow-900">Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger, og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”
		Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - 
		en visuel odysse, og lærebogen Fotografering for evnesvage.</p>	
</div>
</div>
</section>

<section id="buy_now" class="max-w-lg mx-auto mt-32 p-4">
     <p class=" font-serif antialiased text-3xl lg:text-4xl mt-6 md:mt-0 text-yellow-900" >Køb bogen</p>
    <form class="space-y-4 grid grid-cols-1 gap-6">

   
        <div class="grid grid-rows-2" >
            <label class="text-yellow-900" for="antal">Antal:</label>
            <input class="border-gray-300 shadow-sm hover:border-orange-400  border-2 focus:outline-none focus:ring focus:ring-orange-500" type="number" id="antal" placeholder="1">

        </div>

        <div>
            <span class="text-yellow-900 mr-10">Levering:</span>
            <input class="border-gray-300 shadow-sm  hover:border-orange-400  border-2 focus:outline-none focus:ring focus:ring-orange-500" type="radio" name="levering" id="postnord">
            <label class="text-yellow-900 mr-5" for="postnord" checked="checked">Postnord</label>
            <input class="border-gray-300 shadow-sm  hover:border-orange-400  border-2 focus:outline-none focus:ring focus:ring-orange-500" type="radio" id="afhent" name="levering">
            <label class="text-yellow-900" for="afhent">Afhent selv</label>
        </div>
        <div class="grid grid-rows-2">
            <label class="text-yellow-900" for="Navn">Navn</label>
            <input class="border-gray-300 shadow-sm hover:border-orange-400  border-2 focus:outline-none focus:ring focus:ring-orange-500" type="text" id="navn" placeholder="anders and">
        </div>
        <div class="grid grid-rows-2">
            <label class="text-yellow-900" for="adresse">Adresse</label>
            <input class="border-gray-300 shadow-sm  hover:border-orange-400  border-2 focus:outline-none focus:ring focus:ring-orange-500" type="text" id="adresse" placeholder="Paradisæblevej 8">
        </div>

        <div class="grid grid-rows-2">
            <label class="text-yellow-900" for="email">Email</label>
            <input class="border-gray-300 shadow-sm  hover:border-orange-400  border-2 focus:outline-none focus:ring focus:ring-orange-500" type="email" id="email" placeholder="anders@andeby.dk">
        </div>
        <div class="grid grid-rows-2">
            <label class="text-yellow-900" for="bynavn">Postnummer og by</label>
            <input class="border-gray-300 shadow-sm  hover:border-orange-400  border-2 focus:outline-none focus:ring focus:ring-orange-500" type="text" id="bynavn" placeholder="0900">
            <label class="text-yellow-900" for="by"></label>
            <input class="border-gray-300 shadow-sm  hover:border-orange-400  border-2 focus:outline-none focus:ring focus:ring-orange-500" type="text" id="by" placeholder="andeby">
        </div>
        <div class="grid grid-rows-2">
            <label class="text-yellow-900" for="tele">Telefon nummer</label>
            <input class="border-gray-300 shadow-sm  hover:border-orange-400  border-2 focus:outline-none focus:ring focus:ring-orange-500" type="tel" id="tele" placeholder="555-555">

        </div>
        <div class="">
            <input class="border-gray-300 shadow-sm mr-5 hover:border-orange-400  border-2 focus:outline-none focus:ring focus:ring-orange-500" type="checkbox" id="checkbox">
            <label class="text-yellow-900" for="checkbox">Ja tak til Nyhedsbreve og tilbud</label>

        </div>
<Button variant="secondary" size="medium">Til betaling</Button>
       
    </form>
</section>
</MainLayout>


<style>
	.color-change-2x {
	-webkit-animation: color-change-2x 4s linear infinite alternate both;
	        animation: color-change-2x 4s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-9 14:55:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
  0% {
    background: #84827b;
  }
  100% {
    background: #423f3a;
  }
}
@keyframes color-change-2x {
  0% {
    background: #84827b;
  }
  100% {
    background: #423f3a;
  }
}



</style>









