---
import Button from '../components/Button.astro';
---
<section class="bg-stone-300 mt-14">
<div class=" text-center md:grid md:grid-rows-2 pt-24 lg:pt-14 md:gap-8   ">
		<h1 class=" font-serif antialiased text-3xl lg:text-4xl mt-6 md:mt-0 text-yellow-900">Københavnerbilleder - en guide til hipster foto</h1>
		<h3 class=" mt-4 mb-4 font-serif text-yellow-900 ">af Sten Simons</h3>
		
		
</div>

  </section>