---
---
<div x-data="{ showmenu: false }" class="p-4 fixed lg:static w-full bg-stone-300" >
    <div id="navbar" class="flex flex-row justify-between">
        <div id="logo" class="">
            <a class="font-serif text-xl text-orange-700 font-semi-bold" href="#intro">Københavnerbilleder</a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex flex-row gap-4 px-5">
                <li class="text-yellow-900"><a href="#intro">Københavnerbilleder</a></li>
                <li class="text-yellow-900"><a href="#indhold">Bogens indhold</a></li>
                <li class="text-yellow-900"><a href="#forfatteren">Forfatteren</a></li>
                <li class="text-yellow-900"><a href="#buy_now">Køb nu</a></li>
            </ul>
        </nav>
        <button id="burgermenu" class="lg:hidden px-6" x-on:click="showmenu = ! showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center pt-4" 
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul >
            <li class="text-center py-2 border-y-2"><a href="#intro">Københavnerbilleder</a></li>
            <li class="text-center py-2 border-b-2"><a href="#indhold">Bogens indhold</a></li>
            <li class="text-center py-2 border-b-2"><a href="#forfatteren">Forfatteren</a></li>
            <li class="text-center py-2 border-b-2"><a href="#buy_now">Køb nu</a></li>
        </ul>
    </nav>
</div>
